In [221]:
import pandas as pd

데이터 프레임 만들기

In [222]:
# 열 이름을 지정해 주고 시리즈 형태로 저장
df = pd.DataFrame(
    {"a" : [4, 5, 6, 7],
     "b" : [8, 9, 10, 11],
     "c" : [12, 13, 14, 15]},
     index=[1,2,3,4]
)

df

   a   b   c
1  4   8  12
2  5   9  13
3  6  10  14
4  7  11  15

In [223]:
# 열 이름을 따로 정하기
df = pd.DataFrame(
    [[4, 8, 12],
     [5, 9, 12],
     [6, 10, 14],
     [7, 11, 15]],
     index=[1,2,3,4],
     columns=['a','b','c']
)

df

   a   b   c
1  4   8  12
2  5   9  12
3  6  10  14
4  7  11  15

In [224]:
# 인덱스가 두 개인 데이터 프레임
df = pd.DataFrame(
    {'a' : [4, 5, 6, 7],
     'b' : [8, 9, 10, 11],
     'c' : [12, 13, 14, 15]},
     index=pd.MultiIndex.from_tuples( # 인덱스를 튜플로 지정
         [('d', 1), ('d', 2), ('e', 1), ('e', 2)],
         names=['n', 'v']             # 인덱스 이름 지정
     )
)

df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [225]:
# 특정 열 값을 기준을 정렬
df.sort_values('a', ascending=False) # 역순 정렬

     a   b   c
n v
e 2  7  11  15
  1  6  10  14
d 2  5   9  13
  1  4   8  12

In [226]:
# 열 이름 변경
df.rename(columns={'c' : 'd'}) # c열 이름을 d로 변경

     a   b   d
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [227]:
# 인덱스 값 초기화
df.reset_index()

   n  v  a   b   c
0  d  1  4   8  12
1  d  2  5   9  13
2  e  1  6  10  14
3  e  2  7  11  15

In [228]:
# 인덱스 순서대로 정렬
df.sort_index()

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [229]:
# 특정 열 제거
df.drop(columns=['a','b'])

      c
n v
d 1  12
  2  13
e 1  14
  2  15

In [230]:
# 맨위 행 출력
df.head(2)

     a  b   c
n v
d 1  4  8  12
  2  5  9  13

In [231]:
# 맨 아래 행 출력
df.tail(2)

     a   b   c
n v
e 1  6  10  14
  2  7  11  15

In [232]:
# 특정 열 값 추출
df[df['a']>4] # a열 중 4보다 큰 값을 가진 행 추출

     a   b   c
n v
d 2  5   9  13
e 1  6  10  14
  2  7  11  15

In [233]:
# 특정 열에 특정 값이 있을 경우 추출
df[df['a'] == 6]

     a   b   c
n v
e 1  6  10  14

In [234]:
# 특정 열에 특정 값이 없을 경우 추출
df[df['a'] != 5]

     a   b   c
n v
d 1  4   8  12
e 1  6  10  14
  2  7  11  15

In [235]:
# 특정 열에 특정 숫자가 있는지 확인
df[df['a'].isin([4])] # 리스트([int]) 형식

     a  b   c
n v
d 1  4  8  12

In [236]:
# 특정 비율로 데이터 샘플링
df.sample(frac=0.75) # 실행할 때마다 정해진 비율만큼 랜덤하게 추출

     a   b   c
n v
e 2  7  11  15
  1  6  10  14
d 2  5   9  13

In [237]:
# 특정 개수만큼 데이터 샘플링
df.sample(n=3)

     a   b   c
n v
e 2  7  11  15
d 1  4   8  12
e 1  6  10  14

In [238]:
# 특정 열에서 큰 순서대로 불러오기
df.nlargest(3, 'a') # a열에서 큰 순서대로 세 개 불러오기

     a   b   c
n v
e 2  7  11  15
  1  6  10  14
d 2  5   9  13

In [239]:
# 특정 열에서 작은 순서대로 불러오기
df.nsmallest(3, 'a')

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14

In [240]:
# 인덱스 범위로 불러오기
df.iloc[1:4]

     a   b   c
n v
d 2  5   9  13
e 1  6  10  14
  2  7  11  15

In [241]:
# 첫 인덱스를 지정해 불러오기
df.iloc[2:] #[a:]는 a 인덱스부터 마지막 인덱스까지 불러오라는 의미

     a   b   c
n v
e 1  6  10  14
  2  7  11  15

In [242]:
# 마지막 인덱스를 지정해 불러오기
df.iloc[:3] #[b:]는 처음 인덱스부터 b 인덱스까지 불러오라는 의미

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14

In [243]:
# 모든 인덱스 불러오기
df.iloc[:]

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [244]:
# 특정 열을 지정해 가져오기
df[['a', 'b']]

     a   b
n v
d 1  4   8
  2  5   9
e 1  6  10
  2  7  11

In [245]:
# 조건을 만족하는 열 가져오기
df.filter(regex='c') # 열 이름에 c라는 문자가 포함되면 출력

      c
n v
d 1  12
  2  13
e 1  14
  2  15

In [246]:
# 특정 문자가 포함되지 않는 열 가져오기
df.filter(regex='^(?!c$).*')

     a   b
n v
d 1  4   8
  2  5   9
e 1  6  10
  2  7  11

In [247]:
# 특정 행과 열을 지정해 가져오기
df.loc[:,'a':'c'] # 모든 인덱스에서 a~c열 가져오기

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [248]:
# 인덱스로 특정 행과 열 가져오기
df.iloc[0:3, [0, 2]]

     a   c
n v
d 1  4  12
  2  5  13
e 1  6  14

In [249]:
# 특정 열에서 조건을 만족하는 행과 열 가져오기
# a 열 값이 5보다 큰 경우 a, c 열을 출력하라
df.loc[df['a'] > 5, ['a', 'c']]

     a   c
n v
e 1  6  14
  2  7  15

In [250]:
# 인덱스를 이용해 특정 조건을 만족하는 값 불러오기
df.iat[1, 2]  # 1번째 인덱스에서 2번째 열 값을 가져옵니다.

13

In [251]:
# 중복 값이 포함된 데이터 프레임
from pandas.core.window.common import MultiIndex
df = pd.DataFrame(
    {'a' : [4,5,6,7,7,],
     'b' : [8,9,10,11,11],
     'c' : [12, 13, 14, 15, 15]},
     index=pd.MultiIndex.from_tuples(
         [('d',1),('d', 2),('e',1),('e',2),('e',3)],
         names=['n','v']
     )
)

df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15
  3  7  11  15

In [252]:
# 특정 열에 어떤 값이 몇 개 들었는지 알아보기
df['a'].value_counts()

7    2
4    1
5    1
6    1
Name: a, dtype: int64

In [253]:
# 데이터 프레임 행이 몇 개인지 세어보기
len(df)

5

In [254]:
# 데이터 프레임 행과 열 세기
df.shape

(5, 3)

In [255]:
# 특정 열에 유니크
df['a'].unique()

array([4, 5, 6, 7])

In [256]:
# 특정 열에 유니크 값 세기
df['a'].nunique()

4

In [257]:
# 데이터 프레임 형태 한눈에 보기
df.describe()

             a         b         c
count  5.00000   5.00000   5.00000
mean   5.80000   9.80000  13.80000
std    1.30384   1.30384   1.30384
min    4.00000   8.00000  12.00000
25%    5.00000   9.00000  13.00000
50%    6.00000  10.00000  14.00000
75%    7.00000  11.00000  15.00000
max    7.00000  11.00000  15.00000

In [258]:
# 중복된 값 제거
df = df.drop_duplicates()

df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [259]:
# 각 열의 합
df.sum()

a    22
b    38
c    54
dtype: int64

In [260]:
# 각 열의 값이 모두 몇 개인지
df.count()

a    4
b    4
c    4
dtype: int64

In [261]:
# 각 열의 중간 값
df.median()

a     5.5
b     9.5
c    13.5
dtype: float64

In [262]:
# 특정 열의 평균값
df['b'].mean()

9.5

In [263]:
# 각 열의 25%, 75%에 해당하는 수
df.quantile([0.25,0.75])

         a      b      c
0.25  4.75   8.75  12.75
0.75  6.25  10.25  14.25

In [264]:
# 각 열의 최솟값
df.min()

a     4
b     8
c    12
dtype: int64

In [265]:
# 각 열의 최댓값
df.max()

a     7
b    11
c    15
dtype: int64

In [266]:
# 각 열의 표준편차
df.std()

a    1.290994
b    1.290994
c    1.290994
dtype: float64

In [267]:
import numpy as np
df.apply(np.sqrt) # 제곱근 구하기

            a         b         c
n v
d 1  2.000000  2.828427  3.464102
  2  2.236068  3.000000  3.605551
e 1  2.449490  3.162278  3.741657
  2  2.645751  3.316625  3.872983

In [268]:
# null 값이 있는 데이터 프레임
df = pd.DataFrame(
    {'a':[4,5,6,np.nan],
     'b':[7,8,np.nan,9],
     'c':[10,np.nan,11,12]},
     index=pd.MultiIndex.from_tuples(
         [('d',1),('d',2),('e',1),('e',2)],
         names=['n','v']
     )
)

df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0   NaN
e 1  6.0  NaN  11.0
  2  NaN  9.0  12.0

In [269]:
# null 값 확인
pd.isnull(df)

         a      b      c
n v
d 1  False  False  False
  2  False  False   True
e 1  False   True  False
  2   True  False  False

In [270]:
# null 값이 아닌지 확인
pd.notnull(df)

         a      b      c
n v
d 1   True   True   True
  2   True   True  False
e 1   True  False   True
  2  False   True   True

In [271]:
# null 값이 있는 행 삭제
df_notnull = df.dropna()
df_notnull

       a    b     c
n v
d 1  4.0  7.0  10.0

In [272]:
# null 값을 특정 값으로 대체
df_fillna = df.fillna(13)
df_fillna

        a     b     c
n v
d 1   4.0   7.0  10.0
  2   5.0   8.0  13.0
e 1   6.0  13.0  11.0
  2  13.0   9.0  12.0

In [273]:
# null 값을 특정 계산 결과로 대체
df_fillna_mean = df.fillna(df['a'].mean())

df_fillna_mean

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0   5.0
e 1  6.0  5.0  11.0
  2  5.0  9.0  12.0

In [274]:
# 새로운 열을 추가하기 데이터 프레임
df = pd.DataFrame(
    {'a':[4,5,6,7],
     'b':[8,9,10,11],
     'c':[12,13,14,15]},
     index=pd.MultiIndex.from_tuples(
         [('d',1),('d',2),('e',1),('e',2)],
         names=['n','v']
     )
)

df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [275]:
# 조건에 맞는 열 추가
df['sum'] = df['a'] + df['b'] + df['c']

df

     a   b   c  sum
n v
d 1  4   8  12   24
  2  5   9  13   27
e 1  6  10  14   30
  2  7  11  15   33

In [276]:
# assign()을 이용해 조건에 맞는 열 추가
df = df.assign(multiply=lambda df: df['a']*df['b']*df['c'])

df

     a   b   c  sum  multiply
n v
d 1  4   8  12   24       384
  2  5   9  13   27       585
e 1  6  10  14   30       840
  2  7  11  15   33      1155

In [277]:
# 숫자형 데이터를 구간으로 나누기
# a열을 두 개로 나누어 각각 새롭게 레이블을 만든다.
df['qcut'] = pd.qcut(df['a'], 2, labels=["600이하", "600이상"])

df

     a   b   c  sum  multiply   qcut
n v
d 1  4   8  12   24       384  600이하
  2  5   9  13   27       585  600이하
e 1  6  10  14   30       840  600이상
  2  7  11  15   33      1155  600이상

In [278]:
# 기준 값 이하와 이상을 모두 통일시키기
# a 열에서 5 이하는 모두 5fh, 6 이상은 모두 6으로 변환
df['clip'] = df['a'].clip(lower=5,upper=6)

df

     a   b   c  sum  multiply   qcut  clip
n v
d 1  4   8  12   24       384  600이하     5
  2  5   9  13   27       585  600이하     5
e 1  6  10  14   30       840  600이상     6
  2  7  11  15   33      1155  600이상     6

In [279]:
# 최대값 불러오기
df.max(axis=0)  #0:행과 행, 1:열과 열 비교

a               7
b              11
c              15
sum            33
multiply     1155
qcut        600이상
clip            6
dtype: object

In [280]:
# 최솟값 불러오기
df.min(axis=0)

a               4
b               8
c              12
sum            24
multiply      384
qcut        600이하
clip            5
dtype: object

In [281]:
# 행과 열 변환 데이터 프레임

df = pd.DataFrame(
    {'A':{0:'a', 1:'b', 2:'c'},
     'B':{0:1,1:3,2:5},
     'C':{0:2,1:4,2:6}}
)

df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [282]:
# 모든 열을 행으로 변환하기
pd.melt(df)

  variable value
0        A     a
1        A     b
2        A     c
3        B     1
4        B     3
5        B     5
6        C     2
7        C     4
8        C     6

In [283]:
# 하나의 열만 행으로 이동
pd.melt(df, id_vars=['A'], value_vars=['B'])  # A열만 그대로. B열은 행으로 이동

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

In [284]:
# 여러 개의 열을 행으로 이동
pd.melt(df, id_vars=['A'], value_vars=['B','C'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

In [285]:
# 시리즈 데이터 만들기
s1 = pd.Series(['a','b'])
s1

0    a
1    b
dtype: object

In [286]:
s2 = pd.Series(['c','d'])
s2

0    c
1    d
dtype: object

In [287]:
# 데이터 합치기
pd.concat([s1,s2])

0    a
1    b
0    c
1    d
dtype: object

In [288]:
# 데이터 병합할 때 새로운 인덱스 생성
pd.concat([s1,s2], ignore_index=True)

0    a
1    b
2    c
3    d
dtype: object

In [289]:
# 계층적 인덱스를 추가하고 열 이름 지정
pd.concat([s1,s2],
          keys=['s1','s2'],
          names=['Series name', 'Row ID'])

Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

In [290]:
# 데이터 프레임 병합 데이터 프레임
df1 = pd.DataFrame([['a', 1], 
                    ['b', 2]],
                    columns=['letter', 'number'])
df1

  letter  number
0      a       1
1      b       2

In [291]:
df2 = pd.DataFrame([['c', 3], 
                    ['d', 4]],
                    columns=['letter', 'number'])
df2

  letter  number
0      c       3
1      d       4

In [292]:
df3 = pd.DataFrame([['c', 3, 'cat'], 
                    ['d', 4, 'dog']],
                       columns=['letter', 'number', 'animal'])
df3

  letter  number animal
0      c       3    cat
1      d       4    dog

In [293]:
df4 = pd.DataFrame([['bird', 'polly'], 
                    ['monkey', 'george']],
                       columns=['animal', 'name'])
df4

   animal    name
0    bird   polly
1  monkey  george

In [294]:
# 데이터 프레임 합치기
pd.concat([df1,df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [295]:
# 열의 수가 다른 두 데이터 프레임 합치기
pd.concat([df1, df3])

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

In [296]:
# 함께 공유하는 열만 합치기
pd.concat([df1, df3], join='inner')

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [297]:
# 열 이름이 서로 다른 데이터 합치기
pd.concat([df1, df4], axis=1)

  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george

In [298]:
# 데이터 병합 데이터 프레임
adf = pd.DataFrame({"x1" : ["A","B","C"], 
                    "x2": [1,2,3]})
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [299]:
bdf = pd.DataFrame({"x1" : ["A","B","D"], 
                    "x3": ["T","F","T"]})
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

In [300]:
cdf = pd.DataFrame({"x1" : ["B","C","D"], 
                    "x2": [2,3,4]})
cdf

  x1  x2
0  B   2
1  C   3
2  D   4

In [301]:
# 왼쪽 열을 축으로 병합
pd.merge(adf, bdf, how='left', on='x1')
# x1을 키로 해서 병합, 왼쪽(adf)를 기준으로
# 왼쪽의 adf에는 D가 없으므로 해당 값은 NaN으로 변환

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [302]:
# 오른쪽 열을 축으로 병합
pd.merge(adf, bdf, how='right', on='x1')
# x1을 키로 해서 병합, 오른쪽(bdf)을 기준으로
# 오른쪽의 bdf에는 C가 없으므로 해당 값은 NaN으로 변환

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [303]:
# 공통 값만 병합
pd.merge(adf, bdf, how='inner', on='x1')

  x1  x2 x3
0  A   1  T
1  B   2  F

In [304]:
# 모든 값을 병합
pd.merge(adf, bdf, how='outer', on='x1')

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

In [305]:
# 특정한 열을 비교해서 공통 값이 존재하는 경우만 가져오기
adf[adf.x1.isin(bdf.x1)]
# adf와 bdf의 특정한 열을 비교하여 공통 값이 존재하는 경우만 가져오기
# adf.x1열과 bdf.x1열은 A,B가 같다. 따라서 adf의 해당 값만 출력

  x1  x2
0  A   1
1  B   2

In [306]:
# 공통 값이 존재하는 경우 해당 값을 제외하고 병합
adf[~adf.x1.isin(bdf.x1)] # 해당 값만 제외하고 출력

  x1  x2
2  C   3

In [307]:
# 공통 값이 있는 것만 병합
pd.merge(adf, cdf)

  x1  x2
0  B   2
1  C   3

In [308]:
# 모두 병합
pd.merge(adf, cdf, how='outer')

  x1  x2
0  A   1
1  B   2
2  C   3
3  D   4

In [309]:
# 어디서 병합되었는지 표시
pd.merge(adf, cdf, how='outer', indicator=True)

  x1  x2      _merge
0  A   1   left_only
1  B   2        both
2  C   3        both
3  D   4  right_only

In [310]:
# 원하는 병합만 남기기
pd.merge(adf, cdf, how='outer', indicator=True).query('_merge == "left_only"')

  x1  x2     _merge
0  A   1  left_only

In [311]:
# merge 칼럼 제거
pd.merge(adf, cdf, how='outer', indicator=True).query('_merge == "left_only"').drop(columns=['_merge'])

  x1  x2
0  A   1

In [312]:
# 데이터 가공 데이터 프레임
df = pd.DataFrame(
        {"a" : [4 ,5, 6, 7],
        "b" : [8, 9, 10, 11],
        "c" : [12, 13, 14, 15]},
        index = [1, 2, 3, 4])
df

   a   b   c
1  4   8  12
2  5   9  13
3  6  10  14
4  7  11  15

In [313]:
# 행 전체를 한칸 아래로 이동
df.shift(1)

     a     b     c
1  NaN   NaN   NaN
2  4.0   8.0  12.0
3  5.0   9.0  13.0
4  6.0  10.0  14.0

In [314]:
# 행 전체를 한칸 위로 이동
df.shift(-1)

     a     b     c
1  5.0   9.0  13.0
2  6.0  10.0  14.0
3  7.0  11.0  15.0
4  NaN   NaN   NaN

In [315]:
# 첫 행부터 누적해서 더하기
df.cumsum()

    a   b   c
1   4   8  12
2   9  17  25
3  15  27  39
4  22  38  54

In [316]:
# 새 행과 이전 행을 비교하면서 최댓값 출력
df.cummax()

   a   b   c
1  4   8  12
2  5   9  13
3  6  10  14
4  7  11  15

In [317]:
# 새 행과 이전 행을 비교하면서 최솟값 출력
df.cummin()

   a  b   c
1  4  8  12
2  4  8  12
3  4  8  12
4  4  8  12

In [318]:
# 첫 행부터 누적해서 곱하기
df.cumprod()

     a     b      c
1    4     8     12
2   20    72    156
3  120   720   2184
4  840  7920  32760

In [319]:
# 그룹별로 집계 데이터 프레임

# 주택 가격 예측 데이터
df = pd.read_csv("https://raw.githubusercontent.com/taehojo/deeplearning/master/data/house_train.csv")
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [320]:
# 그룹 지정 및 그룹별 데이터 수 표시
df.groupby(by='YrSold').size()  # 연도 중심으로 그룹별 수 표시

YrSold
2006    314
2007    329
2008    304
2009    338
2010    175
dtype: int64

In [321]:
# 그룹 지정 후 원하는 칼럼 표시
# 팔린 연도를 중심으로 그룹을 만든 후 각 그룹별로 주차장의 넓이 표시
df.groupby(by='YrSold')['LotArea'].mean()

YrSold
2006    10489.458599
2007    10863.686930
2008    10587.687500
2009    10294.248521
2010    10220.645714
Name: LotArea, dtype: float64

In [322]:
# 밀집도 기준으로 순위 부여
df['SalePrice'].rank(method='dense')

0       413.0
1       340.0
2       443.0
3       195.0
4       495.0
        ...
1455    315.0
1456    416.0
1457    528.0
1458    200.0
1459    222.0
Name: SalePrice, Length: 1460, dtype: float64

In [323]:
# 최저 값을 기준으로 순위 부여
df['SalePrice'].rank(method='min')

0       1072.0
1        909.0
2       1135.0
3        490.0
4       1236.0
         ...
1455     828.0
1456    1076.0
1457    1285.0
1458     524.0
1459     591.0
Name: SalePrice, Length: 1460, dtype: float64

In [324]:
# 순위를 비율로 표시하기  
df['SalePrice'].rank(pct=True) # 1에 가까울수록 비싼 집

0       0.734247
1       0.622603
2       0.777740
3       0.342123
4       0.848973
          ...
1455    0.569863
1456    0.738356
1457    0.880137
1458    0.358904
1459    0.404795
Name: SalePrice, Length: 1460, dtype: float64

In [325]:
# 동일 순위에 대한 처리 방법 정하기 
df['SalePrice'].rank(method='first')

0       1072.0
1        909.0
2       1135.0
3        490.0
4       1236.0
         ...
1455     836.0
1456    1080.0
1457    1285.0
1458     524.0
1459     591.0
Name: SalePrice, Length: 1460, dtype: float64